// These colors are specific to the theme. Do not use in a package!

@pumpkin-very-dark: #282A2E; // Very dark brown (background)
@Grey-Main: #666666; // Dark brown (comments)
@Grey-2: #ced2cf;
@Blue-main: #2badff;
@Blue-2: #71c3f7; // Medium brown 1 (keywords)
//@Blue-3:#88cde3;
@White-main: #FFF; // Medium brown 2 (base)
@Violet-main: #88cde3;//#fd3777;
@Orange-Main: #ff9933; // Yellow (strings)
@Brick:#968ae8;//#e090a9;//#DF5F5F;
@Green-Main: #61ad4c; // Dark green (numbers)
@pumpkin-green-2: #8bc34a; // Light green (constructors/console)
@yellow:#ffcc66;
@CSS:#f98686;
// Git colors
@git-blue: #4397da;
@git-red: #d7524f;
@git-green: #66bb6a;
@git-orange: #e8a94c;
